span.sfhkeyword {
  color:#0077AA;
}

span.sfhquote {
  color:#669900;
}

span.sfhcomment {
  color:slategray;
}

span.sfhoperator {
  color:#A67F59;
}

code.simplefasthighlighted {
  font-family:Consolas, "Courier New";
  color:black;
}

pre {
  background-color:#F5F2F0;
  border:1px solid #e0e0e0;
  padding:1em;
}